footer.footer {
  background-color: var(--footer-background);
  color: var(--footer-font-color);
  font-size: calc(15 / var(--rem-base) * 1rem);
  line-height: var(--footer-line-height);
  padding: 0;
}

.footer p {
  margin: 0.5rem 0;
}

.footer a {
  color: var(--footer-link-font-color);
}

.footer .poweredBy {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 16px;
  justify-content: center;
  padding: 12px 32px;
}

.footer .poweredBy p {
  font-size: 14px;
}
